@media screen and (min-width: 620px) and (max-with: 980px) {

  .grid-item {
    width: calc(100% / 1);
  }

  .shop-item {
    flex-direction: row;
  }

  .shop-item__btns {
    flex-direction: column;
  }

  .shop-btn {
    &:first-child {
      border-top: 0;
    }

  }


  .dropdown__options-item {
    min-width: 5em;
    border: 2px solid $brand-primary;
    border-right: 3px solid $brand-primary;


}

  .shop-btn__dropdown {
    &:hover {
      .dropdown__options {
        display: flex;

    }
  }
 }

}
