.shop-item {
  display: flex;
  flex-direction: column;
  border: 5px solid $brand-primary;
  color: $brand-primary;
  // margin: 0;
  padding: 0;
}

.shop-item__btns {
  display: flex;
  margin-bottom: 0;
  padding: 0;
  border-top: 2px solid $brand-primary;
  font-family: sans-serif;
  line-height: 3em;
  list-style-type: none;
}

.shop-item__shirt {
  align-self: center;
  padding: $gutter;
}

.shop-item__info {
  flex-grow: 1;
  align-self: center;
  color: $brand-primary;
  font-family: sans-serif;
  text-align: center;
}

.shop-item__title {
  font-size: 2em;

}

// .shop-item__desc {
//
// }
